<div class="grid p-8">
    <div class="col-12 md:col-6 p-3 fadeinleft animation-duration-1000">
      <div class="grid">
        <div class="col-12">
          <h2>Lista de productos</h2>
        </div>
        <div class="col-12">
          <div class="grid">
            <div class="col-12 sm:col-6 md:col-4" *ngFor="let item of products">
              <app-card [item]="item" (itemSeleccionado)="selectItem($event)"></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 p-3">
      <p-card>
        <div class="grid">
          <div class="col-12 sm:col-12">
            <h2>Productos agregados</h2>
          </div>
          <div *ngIf="productosSeleccionados.length < 1">
            <h3>{{"No se selecciono ningun producto"}}</h3>
          </div>
          <div class="col-12 sm:col-12">
            <div class="grid">
              <div class="card">
                <div *ngFor="let productSelect of productosSeleccionados">
                  <app-shooping-cart [productSelect]="productSelect" (itemSeleccionado)="remove_shopping_cart_item($event)"></app-shooping-cart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-card>

    </div>
</div>




